.main {
  max-width: 107rem;
  background-color: #fcfcfc;
}

.dropdown {
    width: 15rem;
    height: 2rem;
    padding: 0.313rem 0.75rem 0.313rem 0.75rem;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .favorite {
    width: 1.5rem;
    height: 1.375rem;
    object-fit: contain;
  }

  .postedTime {
    width: 6.688rem;
    height: 0.813rem;
    margin: 0.125rem 19.313rem 0.438rem 0.5rem;
    font-family: 'Roboto';
    font-size: 0.688rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #767676;
  }

  .time {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0 0;
    object-fit: contain;
  }

  .favButton {
    border: none !important;
    background: none !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
  }